<ion-header>
  <ion-toolbar>
    <ion-title>Cart</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let item of cartItems; let i = index" class="cart-item">
      <ion-thumbnail slot="start">
        <img [src]="item.image" alt="{{ item.name }}" />
      </ion-thumbnail>

      <ion-label class="item-details">
        <h2>{{ item.name }}</h2>
        <p>₱{{ item.price.toFixed(2) }} (each)</p>
        <p class="item-subtotal">Total: ₱{{ (item.price * item.quantity).toFixed(2) }}</p>
      </ion-label>

      <div slot="end" class="item-controls">
        <div class="quantity-selector">
          <ion-button fill="clear" size="small" (click)="decreaseQuantity(i)" color="dark">
            <ion-icon name="remove-circle-outline" slot="icon-only"></ion-icon>
          </ion-button>
          
          <span classm="quantity-value">{{ item.quantity }}</span>
          
          <ion-button fill="clear" size="small" (click)="increaseQuantity(i)" color="dark">
            <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </div>

        <ion-button fill="clear" size="small" color="danger" (click)="deleteItem(i)" class="delete-btn">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>

  <div class="total">
    <ion-item lines="none" class="cart-summary">
      <ion-label class="label">Total</ion-label>
      <ion-note class="cart-summary-value">₱{{ getTotal() }}</ion-note>
    </ion-item>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" class="checkout-btn" (click)="checkout()">Checkout</ion-button>
  </ion-toolbar>
</ion-footer>