ion-icon{
    color: #ff9900;
  }
  
  ion-title{
    font-family: 'Spicy Rice', sans-serif;
    font-size: 25px;
    color:#3E2723;
    letter-spacing: 1.5px;
    margin-left: 10px;
  }

  ion-card {
    margin-bottom: 20px;
  }
  
  ion-button {
    margin-top: 10px;
  }
  
  .product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  
  .product-image {
    background: linear-gradient(45deg, #FC8EAC, #FFC1CC, #E75480);
    width: 100%; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 15px;
  }
  
  .product-name {
    font-size: 20px;
    margin: 10px 0;
    color: #000000;
  }
  
  .product-price {
    font-size: 1.2em;
    color: #000000;
  }
  
  .quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .quantity-selector button {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .quantity-selector input {
    width: 40px;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .add-to-cart-btn {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;  
    width: 100%; 
    text-align: center;
  }
  
  .add-to-cart-btn:hover {
    background-color: #ec8f04; 
  }


  ion-content {
    --background: url('/assets/image/banner.jpg') center center/cover no-repeat;
  }

  .product-list-grid {
    padding-top: 125px;
    padding-bottom: 24px;
  }

  .product-card {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-image {
    width: 100%;
    max-width: 180px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
  }
