<ion-app>
  <!-- Side Menu -->
  <ion-menu side="start" contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title (click)="closeMenu()" style="color: #ffffff; font-family: 'Luckiest Guy', cursive;">Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div class="profile-section">
        <ion-avatar>
          <img src="../assets/image/homerpogi.JPG" alt="Profile Avatar" />
        </ion-avatar>
        <h3>Homer</h3>
        <p>Sumagpao</p>     
      </div>

      <ion-list class="menu-items">
        <ion-item routerLink="/home" lines="none" (click)="closeMenu()">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>

        <ion-item routerLink="/product" lines="none" (click)="closeMenu()">
          <ion-icon name="restaurant-outline" slot="start"></ion-icon>
          <ion-label>Products</ion-label>
        </ion-item>
            

        <ion-item routerLink="/developers" lines="none" (click)="closeMenu()">
          <ion-icon name="code-slash" slot="start"></ion-icon>
          <ion-label>Developers</ion-label>
        </ion-item>

        <ion-item routerLink="/contactus" lines="none" (click)="closeMenu()">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label>Contact Us</ion-label>
        </ion-item>

        <ion-item routerLink="/aboutus" lines="none" (click)="closeMenu()">
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          <ion-label>About Us</ion-label>
        </ion-item>

        <ion-item routerLink="/company" lines="none" (click)="closeMenu()">
          <ion-icon name="business-outline" slot="start"></ion-icon>
          <ion-label>Company</ion-label>
        </ion-item>

        <ion-item routerLink="/login" lines="none" (click)="closeMenu()">
          <ion-icon name="exit-outline" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Main Content -->
  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>