<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <ion-title (click)="goHome()">ReCharge</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCartModal()" style="margin-right: 20px;"> <!-- Adjust button -->
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        <ion-badge 
          *ngIf="cartCount > 0" 
          color="danger" 
          style="font-size: 9px; transform: scale(1.2); padding: 2px; align-items: center; height: 12px; width: 15px; margin-right:-12px;"> <!-- Adjust badge -->
          {{ cartCount }}
        </ion-badge>
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="categories">
    <h2>Products</h2>
  </div>

  <div class="card-container">
    <ion-card *ngFor="let card of cards; let i = index" class="flip-card" (click)="flipCard(i)">
      <div class="flip-card-inner" [class.flipped]="flippedCards[i]">
        <div class="flip-card-front">
          <img [src]="card.frontImage" alt="Front Image" class="card-image" />
        </div>

        <div class="flip-card-back">
          <img [src]="card.backImage" alt="Back Image" class="card-image" />
          <ion-button expand="full" color="pink" (click)="goToProductPage($event, card.route)" class="product-button">
            Order Now
          </ion-button>
        </div>
      </div>
    </ion-card>
  </div>

<!-- Instagram Feed / Social Media Integration Section -->
<div class="instagram-feed">
  <h2 style="font-family: 'Luckiest Guy', cursive; font-size: 30px; margin-bottom: 20px;">
    Follow Us on Instagram
  </h2>
  <p style="font-family: 'Roboto', sans-serif; font-size: 16px;">
    Get inspired and share your tots for energy drink with #ReCharge
  </p>
  <div class="social-icons" style="margin-top: 20px;">
    <ion-icon name="logo-instagram" style="font-size: 40px; color: #000000; margin-right: 20px;"></ion-icon>
    <ion-icon name="logo-facebook" style="font-size: 40px; color: #000000; margin-right: 20px;"></ion-icon>
    <ion-icon name="logo-twitter" style="font-size: 40px; color: #000000;"></ion-icon>
  </div>
</div>

</ion-content>